<div 
  id="intro-example" 
  class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" 
  style="background-image: url('https://source.unsplash.com/collection/1791496'); min-height: 250px;"
  >
  <div class="col-md-5 p-lg-5 mx-auto my-auto">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <h1 class="text-white display-4 fw-bold">KPL GAZETTE</h1>
    <p class="text-light font-weight-normal">date</p>
    <p class="text-light font-weight-normal">Gameweek</p>

  </div>
  </div>
</div>
