<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://twitter.com/montychannel/status/1573364078000619521?s=12&t=oNyfs_cZzYh_dgYXLXsESQ">KPL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link " routerLink="">Home</a>
        <a class="nav-link" routerLink="">Gameweek Info</a>
        <a class="nav-link" routerLink="">Team Spotlight</a>
        <a class="nav-link" routerLink="stinkers">Stinkers</a>
        <a class="nav-link" routerLink="davidmay">DMW11</a>
        <a class="nav-link" routerLink="hipster">Hipster</a>
      </div>
    </div>
  </div>
</nav>
