<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #140F2D;">
  <div class="container-fluid">
    <div class="icon-name">
    <a class="navbar-brand" routerLink="">KPL<img src="/assets/images/logo-burnt-sienna.png" alt="Logo" class="img-fluid"></a>
  </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="">Manager Focus</a>
        <a class="nav-link" routerLink="">Gameweek Stats</a>
        <a class="nav-link" routerLink="news">News</a>
        <a class="nav-link" routerLink="statSelector">Stat Selector</a>
        <a class="nav-link" routerLink="stinkers">Stinkers</a>
        <a class="nav-link" routerLink="davidmay">DMW11</a>
        <a class="nav-link" routerLink="minutes">Goal Predictions</a>
        <a class="nav-link" routerLink="hipster">Hipster</a>
      </div>
    </div>
    
  </div>

  

</nav>

