
.position {
  margin-top: 15px;
  padding-top: 15px;
  text-decoration-thickness: 4px;
  /* background-color: #DAE7F0; */
  border-top: 3px solid #DAE7F0;
  font-style: normal;
}

.quote {
  font-style: italic;
  font-weight: 200;
}

.forwards {
  padding-bottom: 30px;
}

