<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="input-group mb-3 mt-3">
        <label for="percent" class="input-group-text">Percent:</label>
        <input type="number" [(ngModel)]="percent" id="percent" class="form-control">
        <button (click)="reloadData()" class="btn btn-primary">Reload Data</button>
      </div>
    </div>
    <div class="col-md-4">
      <select [(ngModel)]="selectedElement" name="selectedElement" id="selectedElement" class="form-control mt-3" (change)="getHipsterPlayers()">
        <option value="1">Goalkeepers</option>
        <option value="2">Defenders</option>
        <option value="3">Midfielders</option>
        <option value="4">Forwards</option>
      </select>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-3" *ngFor="let element of elements">
      <div class="card mb-3">
        <img [src]="getPhotoUrl(element.photo)" class="card-img-top" alt="{{element.web_name}}"/>
        <div class="card-body">
          <h5 class="card-title">{{element.web_name}}</h5>
          <p class="card-text">Total Points: {{element.total_points}}</p>
          <p class="card-text">Selected by {{element.selected_by_percent}}% of managers</p>
          <p class="card-text">Chucks this season: {{element.transfers_out}}</p>
          <p class="card-text">Recent news: {{element.news ? element.news : "No news available"}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
