.album {
  background-color: #fff;
}

.card {
  background-color: #DAE7F0;
}

.card-body h4 {
  color: #140f2d;
  padding: 5px;
  width:100% ;
  font-style: normal;
  text-decoration: underline;
  text-decoration-thickness: 4px;

  text-decoration-color: #EE6C4D;
}

.card-body button {
  background-color: #140f2d;
  color: #DAE7F0;
  width: 100%;
}

a {
  text-decoration: none;
}

