<app-header></app-header>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <a href="#">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/assets/images/dan.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-text">Manager Focus</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a routerLink="#">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/assets/images/IMG_3883.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-text">Gameweek Stats</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a routerLink="statSelector">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/assets/images/statart.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-text">Stat Selector</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a routerLink="stinkers">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/assets/images/stinkart.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-text">Stinkers of the Week</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a routerLink="davidmay">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/assets/images/dMay.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-text">David May's Winning Eleven</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a routerLink="minutes">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/assets/images/goalpredictions.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-text">Goal Predictions</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a routerLink="hipster">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/assets/images/hipster.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-text">The Hipster Calculator</h4>
            </div>
          </div>
        </a>
      </div>
      
    </div>
  </div>
</div>



