<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/assets/images/dan.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-text">Manager Focus</h4>
            <p class="card-text">A day in the life of Mr Daniel Hughes</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#"><button type="button" class="btn btn-sm btn-outline-secondary">More</button></a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/assets/images/fixtures.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-text">Gameweek Stats</h4>
            <p class="card-text">The numbers and tumblers from this week</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#"><button type="button" class="btn btn-sm btn-outline-secondary">More</button></a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1553778263-73a83bab9b0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-text">Team Spotlight</h4>
            <p class="card-text"></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#"><button type="button" class="btn btn-sm btn-outline-secondary">More</button></a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/assets/images/stink.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-text">Stinkers of the Week</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a routerLink="stinkers"><button type="button" class="btn btn-sm btn-outline-secondary">More</button></a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/assets/images/dMay.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-text">David May's Winning 11</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a routerLink="davidmay"><button type="button" class="btn btn-sm btn-outline-secondary">More</button></a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/assets/images/dMay.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-text">Goal Predictions</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a routerLink="minutes"><button type="button" class="btn btn-sm btn-outline-secondary">More</button></a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="assets/images/hipster.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-text">The Hipster Calculator</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a routerLink="hipster"><button type="button" class="btn btn-sm btn-outline-secondary">More</button></a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/assets/images/this_week.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-text">News, Trivia and Weather</h4>
            <p class="card-text">Your Number 1 source for all things sports.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://twitter.com/MontyChannel"><button type="button" class="btn btn-sm btn-outline-secondary">More</button></a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
