@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&family=Outfit&display=swap');

* { 
  border-radius: 0 !important; 
  font-family: 'Jost', sans-serif;

} 
* { 
  -webkit-border-radius: 0 !important; 
  -moz-border-radius: 0 !important; 
  border-radius: 0 !important; 
}



.card-img-top {
  background-color: #DAE7F0
}

h1, h2, h3, h4 {
  font-style: italic;
}

p {
  color: #353535;
  padding: 0;
}

.title {
  font-weight: 700;
  font-style: italic;
}

.navbar a {
  font-family: Jost;
}

.intro {
  padding: 10px;
  font-style: none;
  font-weight: 300;
  margin-bottom: 0;
}

.btn {
  background-color: #140F2D;
  color: #140F2D;
}

.card-body {
  padding: 0;
}

.card .card-footer {
  color: #EE6C4D;
  background-color: #140F2D;
}

.card-title {
  text-decoration: underline;
  text-decoration-color: #EE6C4D;
  text-decoration-thickness: 4px;
}

.card-text {
  margin-bottom: 5px;
}

.comp-title {
  padding-top: 10px;
}

.comp-title h1{
  font-style: normal;
  background-color: #140F2D;
  color: #DAE7F0;
  padding: 20px;
}






